{% extends "base_page.html" %}

{% block title %} {{ housing.description }} {% endblock title %}

{% block content %}
{% include 'to_main.html' %}<br>
<a href="{% url 'housing_list' %}">К списку продаваемого жилья</a>
<ul>
    <li>Описание: {{ housing.description }}</li>
    <li>Адрес: {{ housing.address  }}</li>
    <li>Стоимость: {{ housing.cost }}</li>
    <li>Тип помещения: {{ housing.housing_type.name }}</li>
    <li>Количество комнат: {{ housing.rooms_number.name }}</li>
    <li>Дата постройки/сдачи: {{ housing.created_date }}</li>
</ul>

{% endblock content %}
